component
  height: 0.75em
  border-radius: 1px
  background-color: rgba(black, 0.2)
  position: relative

  > canvas
    top: 1px
    left: 1px
    border-radius: 1px
    width: calc(100% - 2px)
    height: calc(100% - 2px)
    position: absolute